{% load static %}
<html>
    <head>
        <title>KNV's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
	<body>
	    <div id="page-header" class="page-header">
	        <a href="/">Home</a>
	    </div>
	    <div id="content-div">
	    	<div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2">
			            {% block content %}
			            {% endblock %}
		            </div>
		        </div>
		    </div>
	    </div>

    	<script src="{% static 'js/base.js' %}">

		</script>

	</body>
</html>