{% load staticfiles %}
<html>
    <head>
        <title>KNV's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
	<body>
	    <div id="page-header" class="page-header">
	        <h4><a href="/">KNV's Blog</a></h4>
	    </div>
	    <div id="content-div">
	    	<div class="container">
		        <div class="row">
		            <div class="col-md-6 col-md-offset-3">
			            {% block generated-posts %}
			            {% endblock %}
		            </div>
		        </div>
		    </div>
	    </div>

	    <div id="comments">
	    	<div class="container">
		        <div class="row">
		            <div class="col-md-6 col-md-offset-3">
				        <div id="disqus_thread"></div>
						<script>

						/**
						 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
						/*
						var disqus_config = function () {
						    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function() { // DON'T EDIT BELOW THIS LINE
						    var d = document, s = d.createElement('script');
						    s.src = '//ga1.disqus.com/embed.js';
						    s.setAttribute('data-timestamp', +new Date());
						    (d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		            </div>
		        </div>
		    </div>
	    </div>

    	<script>

			var headerHeight = document.getElementById('page-header').offsetHeight;
			var header = document.getElementById('page-header')
			header.style.marginTop = -headerHeight

			var contentHeight = document.getElementById('content-div').offsetHeight;
			var content = document.getElementById('content-div');
			//content.style.position = "absolute";
			content.style.marginTop = headerHeight;

			var comments = document.getElementById('comments');
			// comments.style.marginTop = "absolute";
			comments.style.top = headerHeight + contentHeight;
		</script>

	</body>
</html>