{% load staticfiles %}
<html>
    <head>
        <title>KNV's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
	<body>
	    <div id="page-header" class="page-header">
	        <h4><a href="/">KNV's Blog</a></h4>
	    </div>
	    <div id="content-div">
	    	<div class="container">
		        <div class="row">
		            <div class="col-md-8 col-md-offset-2">
			            {% block content %}
			            {% endblock %}
		            </div>
		        </div>
		    </div>
	    </div>

    	<script src="{% static 'js/base.js' %}">

		</script>

	</body>
</html>