body {
    background-color: white;
}


h1 a {
    color: #FCA205;
    font-family: 'IM Fell Great Primer', serif;
}

.comments {
    margin-top: 50;
}

.page-header {
    background-color: LightSkyBlue;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    text-align: left;
    position: fixed;
    width: 100%;
}

.page-header, .page-header a, .page-header a:visited, .page-header a:active {
    color: white;
    font-size: 24pt;
    text-decoration: none;
}

.post-text {
    text-align: justify;
    font-size: 13pt;
    font-family: 'IM Fell Great Primer', serif;
}

.writing-text {
    text-align: justify;
    font-size: 13pt;
    font-family: 'IM Fell Great Primer', serif;
}

h1, h2, h3, h4 {
    font-family: 'IM Fell Great Primer', serif;
}

.date {
    float: right;
    color: #D2D0BA;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #3066BE;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}