body {
    background-color: white;
}


h1 a {
    color: #FCA205;
    font-family: 'IM Fell Great Primer', serif;
}

.comments {
    margin-top: 50;
}

.page-header {
    background-color: LightSkyBlue;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
    text-align: left;
    position: fixed;
    width: 100%;
}

.page-header, .page-header a, .page-header a:visited, .page-header a:active {
    color: white;
    font-size: 24pt;
    text-decoration: none;
    font-family: 'IM Fell Great Primer', serif;
}

.post-text {
    text-align: justify;
    font-size: 18pt;
    font-family: 'IM Fell Great Primer', serif;
    display: inline-block;
}

.writing-text {
    text-align: justify;
    font-size: 13pt;
    font-family: 'IM Fell Great Primer', serif;
}

.title {
    text-decoration: none;
    font-size: 25pt;
    font-family: 'IM Fell Great Primer', serif;
    vertical-align: middle;
}

.post-language-and-text {
    display: inline-block;
    margin-bottom: 30px;
}

.date {
    font-size: 15;
    float: right;
    color: #D2D0BA;
}

.language-flag {
    vertical-align:middle;
    margin-right: 8px;
}

.save {
    float: right;
}
/*
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #3066BE;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}*/

.post {
    font-size: 20;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 80px;
}